* {
  margin: 0;
  padding: 0;
}
.layout--width {
  max-width: 1200px;
  margin: 0 auto;
}
.menu {
  background: #ffebee;
  width: 100%;
  height: 40px;
}
.inner--menu {
  background: #b71c1c;
  width: 100%;
  height: 100%;
}
.inner--header {
  background: #ffcdd2;
  width: 100%;
  height: 100px;
}
.header--menu {
  background: #c62828;
  width: 100%;
  height: 100%;
}
.main--banner {
  background: #ef9a9a;
  width: 100%;
  height: 700px;
}
.sub--banner {
  background: #e57373;
  width: 100%;
  height: 400px;
}
.md--products {
  background: #f44336;
  width: 100%;
  margin: 55px auto;
}
.md--box {
  background: #f44336;
  width: 100%;
}
.md--tit {
  background: #ffebee;
  width: 100%;
  height: 30px;
}
.md--product {
  background: #ba68c8;
  display: flex;
  width: 100%;
  height: 450px;
}
.md--pro--info {
  background: #ffcdd2;
  width: 25%;
  height: 450px;
}
.md--pro--info:nth-child(2n) {
  background: #ef9a9a;
}
.new--product {
  display: flex;
  justify-content: space-between;
}
.new--pro--info:nth-child(2n) {
  background: #ef9a9a;
}
.new--box {
  background: #e53935;
  width: 100%;
}
.new--tit {
  background: #ffebee;
  width: 100%;
  height: 30px;
}
.new--pro--info {
  background: #ffcdd2;
  width: 380px;
  height: 470px;
}
.btn--slide {
  background: #ba68c8;
  width: 100%;
  height: 50px;
}
.sns--wrap {
  background: #d32f2f;
  width: 100%;
  height: 525px;
  padding: 55px 0 40px;
  text-align: center;
}

.sns--tit {
  background: #f3e5f5;
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
}
.sns--box1 {
  display: flex;
}
.sns--box2 {
  display: flex;
}
.sns--img {
  background: #ef9a9a;
  width: 200px;
  height: 200px;
}
.sns--img:nth-child(2n) {
  background: #e57373;
}
.sns--btn {
  position: relative;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.sns--btn .btn--insta {
  background: #f3e5f5;
  position: absolute;
  width: 400px;
  height: 40px;
}
footer {
  background: #c62828;
  width: 100%;
  height: 475px;
}
.foot--box {
  padding-bottom: 20px;
}
.foot--link {
  background: #ab47bc;
  padding: 55px 0 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 208px;
}
.foot--info {
  background: #f3e5f5;
  width: 100%;
  height: 112px;
}
