@media screen and  (max-width: 1200px) {
    .wrap{width: 100%;}
    .menu{
        display: none;
    }
    .inner_header2{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 40px;
        font-size: 14px;
    }
    .gnb{
        display: none;
    }
    .btnSearch{
        display: none;
    }

    .prod--list--wrap {
        background-color: salmon;
        margin: 0 20px;
    }

    .md--box--wrap .md--box:last-child{
        display: none;
    }
    .new--box--wrap{
        gap: 20px;
        /* margin: 0 20px; */
    }
    .new--box--wrap .new--box:last-child{
        display: none;
    }
    .new--img{
        width: 100%;
        height: 100%;
    }
    
    .new--box {
        width: 100%;
    }

@media screen and (max-width: 760px){

}

